NODE_ENV=development
PORT=3000
API_PREFIX=api
CORS_ORIGIN=http://localhost:3000,http://localhost:5173

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=kcnjob
DATABASE_PASSWORD=290429
DATABASE_NAME=kcnjob

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=change_this_access_secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_ROUNDS=10

CACHE_TTL_JOB_LIST=60
CACHE_TTL_JOB_DETAIL=120
CACHE_TTL_CATEGORY_LIST=300
CACHE_TTL_ZONE_LIST=300
CACHE_TTL_DASHBOARD=30

THROTTLE_LOGIN_TTL=60
THROTTLE_LOGIN_LIMIT=5

DEFAULT_ADMIN_PASSWORD=ChangeMe123!
